doctype html
html
  head
    link(rel='stylesheet' href='styles.css')
    title Sortable Grid Demo

  body
    h1 Sortable Grid Demo

    each ex in [{ heading: 'Basic JavaScript component', id: 'ex1' }, { heading: 'Wrapped as jQuery plugin', id: 'ex2' }]

      h2 #{ex.heading}

      table(id="#{ex.id}").example
        thead
          tr
            th.sortable(data-sort="num")
              span Rank
              i.arrow-combo
            th.sortable
                span Team
                i.arrow-combo
            th.sortable(data-sort="num")
                span Games Played
                i.arrow-combo
            th.sortable(data-sort="num")
                span Wins
                i.arrow-combo
            th.sortable(data-sort="num")
                span Draws
                i.arrow-combo
            th.sortable(data-sort="num")
                span Losses
                i.arrow-combo
            th.sortable(data-sort="num")
                span Goals For
                i.arrow-combo
            th.sortable(data-sort="num")
                span Goals Against
                i.arrow-combo
            th.sortable(data-sort="num")
                span Points
                i.arrow-combo
          tbody
            tr
              td 1
              td Juventus
              td 15
              td 11
              td 3
              td 1
              td 31
              td 6
              td 36
            tr
              td 2
              td Roma
              td 15
              td 11
              td 2
              td 2
              td 28
              td 11
              td 35
            tr
              td 3
              td Lazio
              td 15
              td 8
              td 2
              td 5
              td 26
              td 17
              td 26
            tr
              td 4
              td Sampdoria
              td 15
              td 6
              td 8
              td 1
              td 20
              td 12
              td 26
            tr
              td 5
              td Genoa
              td 15
              td 7
              td 5
              td 3
              td 20
              td 13
              td 26

    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js")

    //- Component version
    script(src="sortable-grid.js")
    script.
      var table = document.querySelector('#ex1');
      new SortableGrid(table);

    //- jQuery plugin version
    script(src="sortable-grid.jquery.js")
    script.
      $('#ex2').sortableGrid();
