@font-face {
  font-family: "entypo";
  src: url("fonts/entypo.eot");
  src: local("☺"),
    url("fonts/entypo.woff") format("woff"),
    url("fonts/entypo.otf") format("opentype"),
    url("fonts/entypo.svg") format("svg");
}


#serie-a {
    width: 100%;
    border-collapse: collapse;
}

#serie-a th, #serie-a td {
    padding: 10px;
    border: 2px solid;
}
#serie-a th {
    background-color: #eee;
}

#serie-a i {
    font-family: 'entypo';
    font-style: normal;
    font-size: 25px;
    margin: 5px;
}

#serie-a i:after {
    content: '\E74F';
}